<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mvvm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B24B6F211D1A778F005F44A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B24B6F2A1D1A778F005F44A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B28971081D10E68800BF2632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B289711E1D10E68900BF2632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B28971291D10E68900BF2632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
